/*
  .monkee {
    @include clearfix;
  }
*/
/* # USAGE #
  .monkee {
    @include transition-custom(timing-function, cubic-bezier(0.755, 0.050, 0.855, 0.060));
  }
*/
/* # USAGE #
  .visuallyhidden {
    @include visuallyhidden;
  }
*/
/* # USAGE #
  .icon {
    @include pseudo-elements(before, 1.56em, .125em) {
      background: #333;
      top: .25em;
    }
  }
*/
/* Functions */
/* # Return a unitless number. */
/*
  # Convert Photoshop letter spacing to pixels. http://justinmarsan.com/css-letter-spacing-in-photoshop-and-browsers/
  @params(photoshop-letter-spacing, font-size-in-pixels)

  .foo {
    letter-spacing: letter-spacing-calc(25, 16);
  }
*/
/*
  # Convert px to em.
  @params(font-size-in-pixels, optional-em-base)

  .foo {
    margin-top: em-calc(42px);
  }
*/
@import url("https://fonts.googleapis.com/css?family=Pathway+Gothic+One");
@import url("https://fonts.googleapis.com/css?family=Cardo");
body {
  font-size: 18px; }

h1 {
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 64px;
  line-height: 56px; }

h2 {
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 48px;
  line-height: 42px; }

* {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  width: 100%; }

body {
  overflow: hidden;
  height: inherit;
  width: inherit;
  height: 100%;
  width: 100%;
  overflow-y: scroll; }

::selection {
  background: rgba(96, 72, 120, 0.5);
  /* WebKit/Blink Browsers */
  color: #FEFCD7; }

::-moz-selection {
  background: rgba(96, 72, 120, 0.5);
  /* Gecko Browsers */
  color: #FEFCD7; }

.canvas {
  width: inherit;
  height: inherit;
  background: #604878;
  background: -webkit-linear-gradient(top, #001848 0%, #604878 100%);
  background: -linear-gradient(top, #001848 0%, #604878 100%);
  background: -moz-linear-gradient(top, #001848 0%, #604878 100%); }
  .canvas .container {
    width: 88%;
    margin: 0 auto; }
    .canvas .container #under_construction {
      color: #FEFCD7;
      text-align: right;
      padding-top: 90px; }
      .canvas .container #under_construction #again {
        color: rgba(254, 252, 215, 0.2);
        display: block;
        font-size: 36px; }

@media (max-width: 840px) {
  .desktop {
    display: none; } }
header .desktop {
  width: 88%;
  height: 150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 840px) {
    header .desktop {
      display: none !important; } }
  header .desktop .logo-container {
    display: inline-block; }
    header .desktop .logo-container #site-logo {
      width: auto; }
      header .desktop .logo-container #site-logo > a {
        text-decoration: none;
        color: #FEFCD7; }
  header .desktop .nav-container {
    display: inline-block; }
    header .desktop .nav-container .nav {
      list-style-type: none;
      display: inline-flex; }
      header .desktop .nav-container .nav .nav-item {
        padding: 0 1.5em; }
        header .desktop .nav-container .nav .nav-item .nav-item-link {
          text-decoration: none;
          font-family: "Pathway Gothic One", sans-serif;
          color: #FEFCD7;
          font-size: 22px;
          line-height: 20px; }
header .mobile {
  display: none; }
  @media (max-width: 840px) {
    header .mobile {
      height: 100px;
      width: auto;
      display: flex !important;
      justify-content: space-between;
      align-items: center;
      padding: .44444em .8888889em .22222em;
      background-color: #001848;
      box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.25);
      border-bottom: 1px solid #000012; }
      header .mobile .mobile-nav-container {
        display: none;
        clear: both;
        position: fixed;
        top: 125px;
        list-style-type: none;
        width: 96%;
        z-index: 10; }
        header .mobile .mobile-nav-container .nav {
          list-style-type: none !important;
          background: #604878;
          padding: 15px;
          border-radius: 5px;
          border-bottom: 1px solid #001848; }
          header .mobile .mobile-nav-container .nav .nav-item {
            margin: 0;
            padding: 15px .75em;
            transition: 0.3s; }
            header .mobile .mobile-nav-container .nav .nav-item:hover {
              background: #56416c;
              padding-left: 25px;
              border-radius: 3px; }
            header .mobile .mobile-nav-container .nav .nav-item:first-child {
              margin-top: 0; }
            header .mobile .mobile-nav-container .nav .nav-item:last-child {
              margin-bottom: 0;
              border-bottom: none; }
            header .mobile .mobile-nav-container .nav .nav-item .nav-item-link {
              color: #FEFCD7;
              width: 100%;
              letter-spacing: 1px;
              text-decoration: none;
              display: inline-block;
              font-family: "Pathway Gothic One", sans-serif; }
      header .mobile .expand {
        display: block; }
      header .mobile .mobile-logo {
        color: #FEFCD7;
        font-size: 48px;
        text-decoration: none; } }
    @media (max-width: 840px) and (max-width: 768px) {
      header .mobile .mobile-logo {
        font-size: 44px; } }
    @media (max-width: 840px) and (max-width: 425px) {
      header .mobile .mobile-logo {
        font-size: 36px; } }
    @media (max-width: 840px) and (max-width: 375px) {
      header .mobile .mobile-logo {
        font-size: 32px; } }
  @media (max-width: 840px) {
      header .mobile .mobile-menu-trigger {
        text-decoration: none;
        border: 1px solid #3a2b48;
        border-bottom: 4px solid #433254;
        border-right: 3px solid #4d3a60;
        padding: 12px;
        background: #604878;
        border-radius: 10px;
        color: #fff;
        font-family: "Pathway Gothic One", sans-serif;
        font-weight: 100; }
        header .mobile .mobile-menu-trigger:hover {
          color: #FEFCD7; }
        header .mobile .mobile-menu-trigger::before {
          content: url("/img/icons/eject.svg");
          display: block;
          font-family: Arial;
          font-style: normal;
          font-weight: 400;
          font-variant: none;
          text-transform: none;
          line-height: .8;
          -webkit-font-smoothing: antialiased; }
      header .mobile > a {
        margin: 0 10px;
        text-align: center; } }
    @media (max-width: 840px) and (min-width: 375px) {
      header .mobile > a {
        margin: 0 20px; } }
    @media (max-width: 840px) and (min-width: 768px) {
      header .mobile > a {
        margin: 0 45px; } }
  @media (max-width: 840px) {
      header .mobile:before {
        display: table; }
      header .mobile:after {
        clear: both; } }

.clear {
  clear: both;
  height: 150px;
  width: auto; }

.footer {
  height: auto;
  width: inherit;
  position: fixed;
  bottom: 0;
  background: #001848;
  border-top: 1px solid #000012; }
  .footer #copyright {
    font-family: "Cardo", serif;
    text-align: center;
    color: #FEFCD7;
    margin: 15px 0;
    font-size: 14px; }
  .footer .footer-icon {
    height: auto;
    position: absolute;
    z-index: 10;
    top: -145px;
    left: 2.25em;
    width: 85px;
    fill: #001848;
    transition: 0.5s; }
    @media (max-width: 425px) {
      .footer .footer-icon {
        left: 1.25em; } }
    @media (max-width: 375px) {
      .footer .footer-icon {
        left: 0.25em; } }
  .footer .footer-nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0 15px; }
    .footer .footer-nav-container .footer-nav {
      display: inline-flex;
      list-style-type: none; }
      .footer .footer-nav-container .footer-nav .nav-item {
        padding: 15px; }
        .footer .footer-nav-container .footer-nav .nav-item .nav-item-link {
          font-family: "Pathway Gothic One", sans-serif;
          color: #FEFCD7;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 100;
          font-size: 20px;
          line-height: 20px; }

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; }

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

/**********************
***** Form Styles *****
**********************/
#contact-header {
  color: #FEFCD7; }

:focus {
  outline: none; }

.form-container {
  width: 75%;
  margin: 0 auto;
  padding: 2.5em 0; }
  .form-container #contact-form .col-3 {
    float: none;
    border-radius: 5px;
    width: 66%;
    margin: 50px auto;
    position: relative;
    background: #604878;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 768px) {
      .form-container #contact-form .col-3 {
        width: 88%; } }
    @media (max-width: 475px) {
      .form-container #contact-form .col-3 {
        width: 100% !important; } }
    .form-container #contact-form .col-3 .effect-22 {
      resize: none;
      width: 100%;
      font-size: 20px;
      color: #FEFCD7;
      padding: 7px 0px;
      margin: 0 15px;
      border: none;
      position: relative;
      background: transparent; }
      .form-container #contact-form .col-3 .effect-22:focus {
        outline: none; }
      .form-container #contact-form .col-3 .effect-22 ~ .focus-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        background-color: transparent;
        transition: 0.4s;
        z-index: -1; }
      .form-container #contact-form .col-3 .effect-22:focus ~ .focus-bg,
      .form-container #contact-form .col-3 .effect-22 .has-content.effect-22 ~ .focus-bg {
        transition: 0.4s;
        width: 100%;
        background-color: #ededed; }
      .form-container #contact-form .col-3 .effect-22 ~ label {
        position: absolute;
        font-family: "Pathway Gothic One", sans-serif;
        left: 14px;
        width: auto;
        top: 10px;
        color: #FEFCD7;
        transition: 0.3s;
        z-index: 0;
        letter-spacing: 0.5px; }
      .form-container #contact-form .col-3 .effect-22:focus ~ label,
      .form-container #contact-form .col-3 .effect-22 .has-content.effect-22 ~ label {
        top: -18px;
        left: 0;
        font-size: 12px;
        color: #FEFCD7;
        transition: 0.3s; }
      .form-container #contact-form .col-3 .effect-22 .has-content label {
        top: -18px;
        left: 0;
        font-size: 12px;
        color: #FEFCD7;
        transition: 0.3s; }
  .form-container #contact-form #submit_field {
    text-align: center; }
    .form-container #contact-form #submit_field #submit-button {
      height: 75px;
      width: 200px;
      color: #FEFCD7;
      background: #001848;
      border: none;
      border-radius: 5px;
      margin: 0 auto;
      transition: 0.3s;
      font-size: 24px;
      line-height: 24px;
      font-weight: 100;
      font-family: "Pathway Gothic One", sans-serif; }
      .form-container #contact-form #submit_field #submit-button:hover {
        background: #0d2451; }
  .form-container #contact-form input[type="text"] {
    font-family: "Cardo", serif;
    color: #FEFCD7;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px; }
