@import url("https://fonts.googleapis.com/css?family=Pathway+Gothic+One");
@import url("https://fonts.googleapis.com/css?family=Cardo");
body {
  font-size: 18px; }

h1 {
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 64px;
  line-height: 56px; }

* {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  width: 100%; }

body {
  overflow: hidden;
  height: inherit;
  width: inherit; }

::selection {
  background: rgba(96, 72, 120, 0.5);
  /* WebKit/Blink Browsers */
  color: #FEFCD7; }

::-moz-selection {
  background: rgba(96, 72, 120, 0.5);
  /* Gecko Browsers */
  color: #FEFCD7; }

.canvas {
  width: inherit;
  height: inherit;
  background: #001848;
  background: -webkit-linear-gradient(top, #001848 0%, #604878 100%);
  background: -linear-gradient(top, #001848 0%, #604878 100%);
  background: -moz-linear-gradient(top, #001848 0%, #604878 100%); }
  .canvas .container {
    width: 88%;
    margin: 0 auto; }
    .canvas .container #under_construction {
      color: #FEFCD7;
      text-align: right;
      padding-top: 90px; }
      .canvas .container #under_construction #again {
        color: rgba(254, 252, 215, 0.2);
        display: block;
        font-size: 36px; }

.header {
  width: 88%;
  height: 150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header .logo-container {
    display: inline-block; }
    .header .logo-container #site-logo {
      width: auto; }
      .header .logo-container #site-logo > a {
        text-decoration: none;
        color: #FEFCD7; }
  .header .nav-container {
    display: inline-block; }
    .header .nav-container .nav {
      list-style-type: none;
      display: inline-flex; }
      .header .nav-container .nav .nav-item {
        padding: 0 1.5em; }
        .header .nav-container .nav .nav-item .nav-item-link {
          text-decoration: none;
          font-family: "Pathway Gothic One", sans-serif;
          color: #FEFCD7;
          font-size: 22px;
          line-height: 20px; }

.footer {
  height: 150px;
  width: inherit;
  position: fixed;
  bottom: 0; }
  .footer #copyright {
    font-family: "Cardo", serif;
    text-align: center;
    color: #FEFCD7; }

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; }

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

/**********************
***** Form Styles *****
**********************/
.form-container {
  width: 75%;
  margin: 0 auto; }
  .form-container #contact-form {
    text-align: center; }
    .form-container #contact-form label {
      font-size: 30px;
      font-family: "Pathway Gothic One", sans-serif;
      color: #FEFCD7; }
    .form-container #contact-form #submit-button {
      height: 50px;
      width: 150px;
      font-size: 24px;
      font-family: "Pathway Gothic One", sans-serif;
      color: #FEFCD7;
      border: none;
      margin: 0 auto;
      background: #000012;
      -o-transition: .25s;
      -ms-transition: .25s;
      -moz-transition: .25s;
      -webkit-transition: .25s;
      transition: .25s;
      display: block; }
      .form-container #contact-form #submit-button:hover {
        background: #1A1A2C; }
