//Colors
$palettes: (
  white: (
    base: #fff
  ),
  black: (
    base: #000
  ),
  purple: (
    base: #604878,
    dark: #001848
  ),
  moonlight: (
    base: #FEFCD7
  )
);

//fonts
$primary-font: 'Pathway Gothic One', sans-serif;
$secondary-font: 'Cardo', serif;
