.form-container {
  width: 75%;
  margin: 50px auto;
  #contact-form {
    width: 80%;
    margin: 0 auto;
    > .form_field {
      position: relative;
      overflow: hidden;
      margin: 50px 0;
    }
    input, textarea {
      border-radius: 10px;
      border: none;
      background: #604878;
      font-size: 18px;
      font-weight: 700;
      font-family: $secondary-font;
      color: #001848;
      width: 100%;
      border: none;
      position: relative;
      top: 0;
      left: 0;
      z-index: 1;
      padding: 10px 25px;
      outline: 0;
      &:valid {
        //hides label
        background: #FEFCD7;
      }
      &:focus {
        border-color: #604878;
      }
      &:focus + label {
        background: #604878;
        color: white;
        font-size: 70%;
        padding: 1px 6px;
        z-index: 2;
        text-transform: uppercase;
      }
    }
    label {
      background: #604878;
      border: none;
      transition:
        background 0.2s,
        color 0.2s,
        top 0.2s,
        bottom 0.2s,
        right 0.2s,
        left 0.2s;
      position: absolute;
      color: #FEFCD7;
      padding: 10px 25px;
    }
    textarea {
      background: #604878;
      border: none;
      display: block;
      resize: none;
    }
  }
  #submit_field {
    text-align: center;
    #submit-button {
      width: 50%;
      font-family: $primary-font !important;
      color: #FEFCD7 !important;
      background: #000012 !important;
      border-radius: 10px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition:.5s;
      &:hover {
        background: #1A1A2C !important;
      }
    }
  }
  form.send-down {
    input, textarea {
      padding: 12px;
    }
    label {
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
    }
    input:focus, textarea:focus {
      padding: 4px 6px 20px 6px;
    }
    input:focus + label, textarea:focus + label {
      top: 100%;
      margin-top: -16px;
    }
  }
}
