body {
  margin: 0;
  padding: 0;
  background-color: map(colors, white, base);

  #wrap {
    width: 100%;
    height: 100%;

    .section-container {
      .site-section {
        max-width: 1104px;
        margin: 0 auto;
      }

      #hero-one {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .section-inner {
          .button {
            margin-top: 36px;
          }

          h1 {
            max-width: 650px;
            margin: 0;
          }
        }
      }
    }
  }
}