html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: map(colors, white, base);

  #wrap {
    width: 100%;
    height: 100%;

    .section-container {
      .site-section {
        .section-inner {
          max-width: 1104px;
          margin: 0 auto;

          @media (min-width: 768px) {
            padding: 36px;
          }
        }
      }

      #hero-one {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .section-inner {
          margin: 0 auto 0 10%;

          .button {
            margin-top: 36px;
          }

          h1 {
            max-width: 650px;
            margin: 0;
          }

          h2 {
            margin: -18px 0 0 0;
            color: map(colors, primary, base);
          }
        }
      }

      #hero-two {
        background-color: map(colors, tertiary, base);

        .section-inner {
          text-align: right;
        }
      }
    }
  }
}