h1 {
  font-size: 54px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6, p, a, ul, li {
  margin: 0;
}

body, p, a, ul, li {
  font-size: 18px;
}

body, p {
  font-family: map(fonts, m-regular);
  color: map(colors, black, lightest);
}

p {
  margin: 0;
}

a {
  color: map(colors, sea, base);
  transition: 0.2s all ease-in-out;

  &:hover {
    color: #70a4ba;
  }
}
