#contact-header {
  color: palette(moonlight);
}

:focus{
  outline: none;
}

.form-container {
  width: 75%;
  margin: 0 auto;
  padding: 2.5em 0;
  #contact-form {
    .col-3 {
      float: none;
      border-radius: 5px;
      width: 66%;
      margin: 50px auto;
      position: relative;
      background: #604878;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 768px) {
        width: 88%;
      }
      @media (max-width: 475px) {
        width: 100% !important;
      }
      .effect-22 {
        resize: none;
        width: 100%;
        font-size: 20px;
        color: #FEFCD7;
        padding: 7px 0px;
        margin: 0 15px;
        border: none;
        position: relative;
        background: transparent;
        &:focus {
          outline: none;
        }
        ~ .focus-bg {
          position: absolute;
          left: 0;
          top: 0;
          width: 0;
          height: 100%;
          background-color: transparent;
          transition: 0.4s;
          z-index: -1;
        }
        &:focus ~ .focus-bg,
        .has-content.effect-22 ~ .focus-bg {
          transition: 0.4s;
          width: 100%;
          background-color: #ededed;
        }
        ~ label {
          position: absolute;
          font-family: $primary-font;
          left: 14px;
          width: auto;
          top: 10px;
          color: #FEFCD7;
          transition: 0.3s;
          z-index: 0;
          letter-spacing: 0.5px;
        }
        &:focus ~ label,
        .has-content.effect-22 ~ label {
          top: -18px;
          left: 0;
          font-size: 12px;
          color: #FEFCD7;
          transition: 0.3s;
        }
        .has-content label {
          top: -18px;
          left: 0;
          font-size: 12px;
          color: #FEFCD7;
          transition: 0.3s;
        }
      }
    }
    #submit_field {
      text-align: center;
      #submit-button {
        height: 75px;
        width: 200px;
        color: #FEFCD7;
        background: #001848;
        border: none;
        border-radius: 5px;
        margin: 0 auto;
        transition: 0.3s;
        font-size: 24px;
        line-height: 24px;
        font-weight: 100;
        font-family: $primary-font;
        &:hover {
          background: lighten(#001848, 5%);
        }
      }
    }
    input[type="text"] {
      font-family: $secondary-font;
      color: palette(moonlight);
      width: 100%;
      box-sizing: border-box;
      letter-spacing: 1px;
    }
  }
}
