.clear {
  clear: both;
  height: 150px;
  width: auto;
}

.footer {
  height: auto;
  width: inherit;
  position: fixed;
  bottom: 0;
  background: #001848;
  border-top: 1px solid #000012;
  #copyright {
    font-family: $secondary-font;
    text-align: center;
    color: #FEFCD7;
    margin: 15px 0;
    font-size: 14px;
  }
  .footer-icon {
    height: auto;
    position: absolute;
    z-index: 10;
    top: -145px;
    left: 2.25em;
    width: 85px;
    fill: #001848;
    transition: 0.5s;
    @media (max-width: 425px) {
      left: 1.25em;
    }
    @media (max-width: 375px) {
      left: 0.25em;
    }
  }
  .footer-nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0 15px;
    .footer-nav {
      display: inline-flex;
      list-style-type: none;
      .nav-item {
        padding: 15px;
        .nav-item-link {
          font-family: $primary-font;
          color: #FEFCD7;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 100;
          font-size: 20px;
          line-height: 20px;
        }
      }
    }
  }
}
