* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	width: 100%;
}

body {
	overflow: hidden;
	height: inherit;
	width: inherit;
	height: 100%;
	width: 100%;
	overflow-y:scroll;
}

::selection {
  background: rgba(96, 72, 120, 0.5); /* WebKit/Blink Browsers */
	color: #FEFCD7;
}

::-moz-selection {
  background: rgba(96, 72, 120, 0.5); /* Gecko Browsers */
	color: #FEFCD7;
}

.canvas {
	width: inherit;
	height: 100%;
	background: palette(purple);
	background: -webkit-linear-gradient(top, #001848 0%, #604878 100%);
	background: -linear-gradient(top, #001848 0%, #604878 100%);
	background: -moz-linear-gradient(top, #001848 0%, #604878 100%);
	.container {
		width: 88%;
		margin: 0 auto;
		#under_construction {
			color: #FEFCD7;
			text-align: right;
			padding-top: 90px;
			#again {
				color: rgba(254, 252, 215, 0.2);
				display: block;
				font-size: 36px;
			}
		}
		.content {
			.section {
				width: 88%;
				display: flex;
				align-items: center;
				margin-top: 2em;
				margin-left: auto;
				background: rgba(96,72,120, 0.5);
				border-radius: 10px;
				.portfolio-image-container {
					height: inherit;
					width: inherit;
					margin: 10px;
					.portfolio-item {
						height: 100%;
						width: 100%;
						border: 1.5px solid #001848;
						transition: .3s;
						border-radius: 10px;
						&:hover {
							border: 1.5px solid lighten(#604878, 25%);
						}
					}
				}
				.portfolio-info-container {
					height: 100%;
					width: 100%;
					margin: 10px;
					> a {
						text-decoration: none;
						.portfolio-item-title {
							text-decoration: none;
							color: palette(moonlight);
							font-family: $primary-font;
							font-size: 28px;
							border-bottom: .5px solid palette(purple,dark);
							line-height: 48px;
							transition: 0.3s;
							&:hover {
								color: darken(palette(moonlight), 20%);
								cursor:pointer;
							}
						}
					}
					.portfolio-item-info {
						padding: 10px 5px;
						color: white;
						font-family: $secondary-font;
						font-weight: 100;
						font-size: 17.25px;
					}
				}
			}
		}
	}
}
