footer#colophon {
  height: 100%;
  margin: 0 !important;
  background-color: map(colors, gray, lighter);

  .footer-container {
    .footer-left {
      p {
        @media (max-width: 554px) {
          font-size: 12px;
        }
      }
    }

    @media (max-width: 554px) {
      padding: 20px;
    }
  }
}
