header#masthead {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: map(colors, black, lightest);

  .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    box-shadow: 0 3px 5px rgba(100, 100, 100, 0.49);

    .header-left {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex: 0 0 48%;

      a {
        width: 75px;
        height: 75px;

        img {
          width: 100%;
          height: 100%;
          transition: 0.2s all ease-in-out;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }

    .header-right.desktop {
      flex: 0 0 48%;

      .menu-primary-navigation-container {
        margin: 0;

        #menu-primary-navigation {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin: 0;
          list-style-type: none;

          .menu-item {
            padding: 10px 25px;

            a {
              color: map(colors, sea, base);
              text-transform: lowercase;
              transition: 0.2s all ease-in-out;

              &:hover, &:active {
                color: map(colors, sky, base);
              }
            }
          }
        }
      }

      @media (max-width: 767px) {
        display: none;
      }
    }

    .header-right.mobile {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex: 0 0 48%;

      .mobile-menu-trigger {
        width: 50px;
        height: 50px;

        .mobile-menu-icon {
          width: 100%;
          height: 100%;
        }
      }

      .menu-primary-navigation-container {
        display: none;

        &.open {
          position: fixed;
          top: 105px;
          left: 0;
          display: block;
          width: 100%;
          background-color: map(colors, gray, base);

          #menu-primary-navigation-1 {
            margin: 0;
            padding: 15px;
            list-style-type: none;

            .menu-item {
              padding: 10px 5px;

              a {
                display: block;
                color: map(colors, black, lightest);
              }
            }
          }

          @media (max-width: 767px) {
            top: 75px;
          }
        }
      }

      @media (min-width: 768px) {
        display: none;
      }
    }

    @media (max-width: 554px) {
      padding: 0 15px;
    }
  }
}
