.sites-grid {
  grid-template-columns: 1fr 1fr;

  .grid-item {
    transition: 0.2s all ease-in-out;
    opacity: 0.8;

    .image-container {
      @media (max-width: 767px) {
        padding: 15px;
      }
    }

    .title-container {
      .site-title {
        color: map(colors, black, lightest);
        letter-spacing: 0;
        text-transform: capitalize;

        &:hover {
          opacity: 0.69;
        }
      }

      @media (max-width: 767px) {
        text-align: center;
      }
    }

    &:hover {
      opacity: 1;
    }

    &:first-of-type {
      background: map(colors, sea, base);
    }

    &:nth-of-type(2) {
      background: map(colors, gray, lighter);
    }

    &:nth-of-type(3n+0) {
      background: map(colors, sky, base);
    }

    &:nth-of-type(4) {
      background: map(colors, gray, lightest);
    }

    &:nth-of-type(5n+0) {
      background: map(colors, moonlight, base);
    }

    @media (min-width: 1440px) {
      padding: 60px;
    }

    @media (min-width: 960px) and (max-width: 1439px) {
      padding: 45px;
    }

    @media (min-width: 768px) and (max-width: 959px) {
      padding: 30px;
    }

    @media (min-width: 425px) and (max-width: 767px) {
      padding: 20px;
    }

    @media (max-width: 424px) {
      padding: 15px;
    }
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}
